<!DOCTYPE html>     				
<html>
 <head>   
	<title> AlbumApp </title> 
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app_comments.css">    
    <script src="https://use.fontawesome.com/3117307920.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
 </head>
 
<body>
 <div class="searchcontainer" > 

    <h1> Listen to your favorist artist's song collections ... </h1>
    <form action="/results" method="GET">    
        <input type="text" name = "word" placeholder="Artist Name"> 
        <button> <span class="glyphicon glyphicon-search " aria-hidden="true"></span> </button> 
    </form>

 </div>    

 </body>
</html>